@import "tailwindcss";
@variant dark (&:is(.dark *));

/* 🌟 THIS IS THE V4 MAGIC FIX! */
.custom-scroll-hide {
  scrollbar-width: none;
}

.custom-scroll-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: oklch(27.8% 0.033 256.848);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: oklch(96.7% 0.003 264.542);
}

For Firefox * {
  scrollbar-width: thin;
}