pymupdf
langchain
langchain_community
langchain_groq
markdown-it-py
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pdf2image
langchain_mcp_adapters
posthog
sentry-sdk[fastapi]
pinecone
sentence_transformers
redis
langchain_ollama
fastapi_limiter
langserve
sqlmodel
rq
groq
ragas
fastembed
datasets